@using TP8_Levin.Models;
<div class="alert alert-secondary subtitulo" role="alert">
Ya se está preparando tu pedido, en 10 minutos ya lo podes retirar!!!
</div>

<img src= "https://resizer.glanacion.com/resizer/Ga-NrBbsuU-qcExl1V4eJ475GhQ=/768x0/filters:format(webp):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/lanacionar/SG2NLS36F5C5ZNY2P3Y3SZGDJE.jpg" class="card-img-top" alt="...">


<div class ="derecha">
    <form action = '@Url.Action("Index","Home")'>
    <button type="submit" class="btn btn-primary">Volver a cargar un pedido</button>
    </form>
</div>

